---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import img_hello from '../assets/img/hello.webp';

import { Separator } from '@/components/ui/separator';
---

<Layout title="João Ferreira | Computer Engineer Student">
	<div class="flex flex-col md:flex-row justify-center items-center p-16 md:p-4 h-screen w-screen gap-8 overflow-auto">
		<div class="flex flex-col gap-2 justify-center md:justify-start bg-zinc-900/60 border border-zinc-800 shadow-2xl p-8 rounded-lg hover:scale-[1.01] transition-all duration-300">
			<Image src={img_hello} alt="Hello" class="w-48 mb-2" />
			<h1 class="text-4xl font-bold">Hello there, I'm <span class="text-ipvc animate-pulse">João</span>.</h1>
			<p class="text-zinc-400">Nice to meet you!</p>

			<Separator className="mt-4 bg-zinc-800" />

			<p class="text-zinc-400 mt-4 text-wrap max-w-96">
				I'm a Computer Engineering student at <a class="underline decoration-wavy decoration-ipvc hover:text-ipvc transition-all duration-300" href="https://www.estg.ipvc.pt/" target="_blank" rel="nofollow noreferrer noopener">Polytechnic Institute of Viana do Castelo</a>, Portugal. 
				I'm passionate about technology and software development, and I'm always looking for new 
				challenges and opportunities to learn and grow.
			</p>
		</div>
		<div class="h-8 hidden md:block">
			<Separator className="w-1 bg-zinc-800 h-full" />
		</div>
		<div class="flex flex-col gap-2">
			<div class="flex flex-col gap-2 justify-center md:justify-start bg-zinc-900/60 border border-zinc-800 shadow-2xl p-8 rounded-lg hover:scale-[1.01] transition-all duration-300">
				<h2 class="text-2xl font-bold">About me</h2>
				<p class="text-zinc-400 text-wrap max-w-96">There isn't much I can tell you about me, I'm not famous for anything I did, like some. I started coding for fun, and later on got into jobs with the knowledge I gathered around the years.</p>
			</div>
			<div class="flex flex-col gap-2 justify-center md:justify-start bg-zinc-900/60 border border-zinc-800 shadow-2xl p-8 rounded-lg hover:scale-[1.01] transition-all duration-300">
				<h2 class="text-2xl font-bold">Projects</h2>
				<p class="text-zinc-400 text-wrap max-w-96">There isn't much I can tell you about me, I'm not famous for anything I did, like some. I started coding for fun, and later on got into jobs with the knowledge I gathered around the years.</p>
			</div>
		</div>
	</div>
</Layout>