---
import '../assets/css/main.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content="João Ferreira's portfolio and simple biography" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="João Ferreira" />
		<meta name="keywords" content="João Ferreira, Computer Engineer, Software Developer, Portfolio, Biography" />
		<meta name="theme-color" content="#f2a900" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="format-detection" content="telephone=no" />
		<!-- meta -->
		<meta property="og:title" content="João Ferreira | Computer Engineer Student" />
		<meta property="og:description" content="João Ferreira's portfolio and simple biography" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:image" content="https://i.ibb.co/87CWfQ8/Screenshot-2024-08-27-at-18-49-07.png" />
		<meta property="og:site_name" content="João Ferreira" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:locale:alternate" content="pt_PT" />
	</head>
	<body>
		<slot />
	</body>
</html>
